body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    gap: 1px;
}
header{
    margin: auto;
}
.numbers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px;
}
.operators{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
}